/* styles/101-places.css */

.places {
    margin-top: 20px;
}

.places h1 {
    font-size: 30px;
    text-align: left;
}

.place-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.place {
    width: calc(33.33% - 20px); /* Adjust as needed for the number of columns */
    padding: 20px;
    border: 4px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.place h2 {
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    font-color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: right;
    padding: 8px 12px;
    margin-top: -40px;
    margin-right: -40px;
    position: absolute;
    background-color: white;
}

.information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.max_guest,
.number_rooms,
.number_bathrooms,
.user,
.description {
    font-size: 14px;
}

.user {
    font-weight: bold;
}

.description {
    margin-top: 10px;
}

.amenities,
.reviews {
    margin-top: 40px;
}

.amenities h2,
.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.amenities ul,
.reviews ul {
    list-style: none;
    padding: 0;
}

.amenities li,
.reviews li {
    font-size: 14px;
    margin-top: 10px;
}

.amenities li i,
.reviews li i {
    margin-right: 10px;
}

.reviews h3 {
    font-size: 14px;
    margin-top: 10px;
}

.reviews p {
    font-size: 12px;
    margin-top: 5px;
}
